@import url("./fonts.css");

:root {
	--purple: #5b4eee;
	--dark-purple: #3c368a;
	--white: #f2edf9;
	--gray: #a499b2;
	--black-border: #191629;
	--black-secondary: #1f1c3c;
	--black-bg: #0d0a1e;
	--black: #080512;
}

body {
	font-family: "Graphik", sans-serif !important;
	font-weight: normal !important;
	font-size: 1rem !important;
	background-color: var(--black) !important;
	color: var(--white) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Sora", sans-serif;
}

.h {
	font-family: "Sora", sans-serif;
}

.h1 {
	font-size: 3.5rem;
	line-height: 4.5rem;
}

.h2 {
	font-size: 3rem;
	line-height: 4rem;
}

.h3 {
	font-size: 2.5rem;
	line-height: 3.25rem;
}

.h4 {
	font-size: 2.25rem;
	line-height: 2.8rem;
}

.h5 {
	font-size: 2rem;
	line-height: 2.55rem;
	font-weight: 600;
}

.h6 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}

.subtitle {
	font-size: 1.25rem;
	font-weight: 600;
}

.button {
	font-family: "Sora", sans-serif;
	font-weight: bold;
}

a {
	color: var(--purple);
}

a:hover {
	text-decoration: underline;
}

.menu-transition {
	transition: all 300ms ease-in-out;
}

@keyframes showText {
	0% {
		opacity: 0;
		transform: scaleX(0);
		width: 0;
		height: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: scaleX(1);
		width: max-content;
		height: fit-content;
	}
}

@keyframes hideText {
	0% {
		opacity: 1;
		transform: scaleX(1);
		width: max-content;
		height: fit-content;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: scaleX(0);
		width: 0;
		height: 0;
	}
}

.text-show {
  animation: showText 300ms ease-in-out;
  transform-origin: center left;
}

.text-hide {
  animation: hideText 300ms ease-in-out forwards;
  transform-origin: center left;
}

.bold-not-active {
	transition: all 300ms ease-in-out;
	text-shadow: 0 0 0 currentColor;
}

.bold-active {
	text-shadow: 1px 0 0 currentColor;
}
