/* <DatePicker> styles */
.Polaris-DatePicker__Day {
	color: var(--white) !important;
	font-weight: bold !important;
}

.Polaris-DatePicker__Day:hover {
	color: var(--white) !important;
	background: var(--dark-purple) !important;
}

.Polaris-DatePicker__Day--disabled {
	color: var(--gray) !important;
	opacity: 0.66;
	font-weight: regular !important;
}

.Polaris-DatePicker__Day--selected {
	background: var(--purple) !important;
}

.Polaris-DatePicker__Day--inRange {
	color: var(--purple) !important;
}

.Polaris-DatePicker__Weekday {
	color: var(--white) !important;
}

.Polaris-DatePicker__Weekday--current {
	font-weight: bold !important;
}

.Polaris-DatePicker__Header {
	top: 0 !important;
}

.Polaris-DatePicker__Header .Polaris-Button--plain.Polaris-Button--iconOnly svg {
	fill: var(--white) !important;
}
/* end </DatePicker> styles */

/* <ComboBox> styles */
.Polaris-Connected .Polaris-TextField__Backdrop {
	background: var(--black-secondary);
	border-radius: 0.5rem;
	border: none;
}

.Polaris-Connected .Polaris-TextField {
	height: 60px;
}

.Polaris-Connected .Polaris-TextField__Input::placeholder {
	color: var(--gray);
}

.Polaris-Connected .Polaris-TextField__Input:focus-visible {
	color: var(--gray);
}
.Polaris-Connected .Polaris-Icon svg {
	fill: var(--purple);
}

.Polaris-Tag {
	background-color: var(--purple);
	color: var(--white);
}

.Polaris-Tag .Polaris-Tag__TagText {
	font-size: 0.9rem;
}
