/* <DatePicker> styles */
.Polaris-DatePicker__Day {
	color: var(--white) !important;
	font-weight: bold !important;
}

.Polaris-DatePicker__Day:hover {
	color: var(--white) !important;
	background: var(--dark-purple) !important;
}

.Polaris-DatePicker__Day--disabled {
	color: var(--gray) !important;
	opacity: 0.66;
	font-weight: regular !important;
}

.Polaris-DatePicker__Day--selected {
	background: var(--purple) !important;
}

.Polaris-DatePicker__Day--inRange {
	color: var(--purple) !important;
}

.Polaris-DatePicker__Weekday {
	color: var(--white) !important;
}

.Polaris-DatePicker__Weekday--current {
	font-weight: bold !important;
}

.Polaris-DatePicker__Header {
	top: 0 !important;
}

.Polaris-DatePicker__Header .Polaris-Button--plain.Polaris-Button--iconOnly svg {
	fill: var(--white) !important;
}
/* end </DatePicker> styles */
