.chevron-group {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(0);
	transition: transform 100ms linear;
}

.chevron-group--left,
.chevron-group--right {
	transform: rotate(0);
	transition: transform 100ms linear;
}

.chevron-group--left {
	transform-origin: 3px 6.5px;
}

.chevron-group--right {
	transform-origin: 10px 6.5px;
}

.chevron--flip .chevron-group--left {
	transform: rotate(180deg);
}

.chevron--flip .chevron-group--right {
	transform: rotate(180deg);
}

.chevron--flip .chevron-group {
	transform: translateX(3px);
}
