.submit-button span {
	transform: translateX(0);
	transition: transform 300ms;
}

.submit-button:hover span {
	background-color: var(--dark-purple);
	transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.animated-form .submit-button:hover span {
	transform: translateX(-10px);
	/* transition timing function and duration values copied from tailwind
	because of parent button's hover:transition-colors 
	see: https://tailwindcss.com/docs/transition-property
	*/
	transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 150ms, transform 300ms;
}