/* .menu__contents {
	opacity: 0;
	transform: translateY(-100%);
	transition: all ease 300ms;
}

.menu__contents--expanded {
	opacity: 1;
	transform: translateY(0);
	transition: all ease 300ms;
} */

.menu .menu--content {
	transition: all 750ms ease-in-out;
	transform-origin: top center;
	opacity: 0;
	height: 0;
	transform: scaleY(0);
}

.bold-not-active {
	transition: all 750ms ease-in-out;
	text-shadow: 0 0 0 currentColor;
}

.bold-active {
	text-shadow: 1px 0 0 currentColor;
}
