/* .menu__contents {
	opacity: 0;
	transform: translateY(-100%);
	transition: all ease 300ms;
}

.menu__contents--expanded {
	opacity: 1;
	transform: translateY(0);
	transition: all ease 300ms;
} */

.menu .menu--content {
	transition: all 300ms ease-in-out;
	transform-origin: top center;
	opacity: 0;
	height: 0;
	transform: scaleY(0);
}